CNV_SPEECH_APIKEY = <<Your Azure AI Speech API Key>>
CNV_SPEECH_ENDPOINT = <<Your Azure AI Speech Endpoint >>
CNV_SPEECH_REGION = <<Your Azure AI Speech Region >>
CNV_CUSTOMMODEL_ID = <<Your Custom Neural Voice Model ID>>
CNV_CUSTOMMODEL_NAME = <<Your Custom Neural Voice Model Name>>
